form.gallery-form {
  margin-right: 300px;

  input[type=text] {
    width: 100%;

    &.has-error {
      border-color: orangered;
    }
  }

  #gallery_description {
    border: 0;
  }

  .images-wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: row;

    .image-wrapper {
      width: 150px;
      height: 150px;
      margin-right: 10px;
      position: relative;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .delete-image {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        padding: 5px;
        background-color: rgba(243, 244, 245, 0.45);
        border-radius: 5px;
        transition: all .2s;

        &:hover {
          color: orangered;
          cursor: pointer;
        }
      }

      &:hover {
        .delete-image {
          opacity: 1;
        }
      }

      img {
        border-radius: 5px;
      }
    }
  }
}

.furllery-icon {
  font-size: 30px;
  width: 30px;
  height: 30px;
  transition: all .2s;

  &:hover {
    cursor: pointer;
    color: darkgray;
  }
}

.furllery-toast-container {
  position: absolute;
  top: 45px;
  right: 15px;

  display: flex;
  flex-direction: column-reverse;

  .furllery-toast {
    width: 240px;
    padding: 10px 5px;
    margin: 5px 0;

    border-left: 5px solid #0c0c0c;
    background-color: #ffffff;
  }
}
