form.gallery-form {
  margin-right: 300px;

  input[type=text] {
    width: 100%;
  }

  #gallery_description {
    border: 0;
  }

  .images-wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: row;

    .image-wrapper {
      margin-right: 10px;

      &:before {
        content: '';
        display: block;
        border-radius: 5px;
        outline: 1px solid slategray;
        width: 150px;
        height: 150px;
        background-color: transparent;
        position: absolute;
        transition: all .2s;
      }

      &:hover {
        &:before {
          content: 'Usunąć?';
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          font-weight: bold;
          cursor: pointer;
          background-color: rgba(243, 244, 245, 0.45);
        }
      }

      img {
        border-radius: 5px;
      }
    }
  }
}
